* {
    margin: 0;
    padding: 0;
}
body{
    background: url("https://i.ibb.co/RNbSZYf/bg.jpg")no-repeat;
}


    .c-heading {
    font-family: 'Lato', sans-serif;
    position: relative;
    margin: 50px 0 0 0;
    font-size: 40px;
    text-align: center;
    color: blue;
    }

    #form {
    position: relative;
    width: 500px;
    margin: 60px auto 100px auto;
    }
    
    input, ::placeholder {
    color: rgb(131, 2, 2);
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    
    }
    
    input {
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    color: rgb(116, 135, 141);
    border: solid 1px #2a2f31;
    margin-bottom: 15px;
    }
    
    input:hover {
    background: #68B0AB;
    color: whitesmoke;
    }
    
    textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    border: solid 1px #2a2f31;
    font-size: 13px;
    margin-bottom: 15px;
    
    }
    
    textarea:hover {
    background: #68B0AB;;
    color: white;
    }
    
    
    #submit {
    width: 501px;
    margin-bottom: 45px;
    font-size: 14px;
    color: rgb(116, 135, 141);
    cursor: pointer;
    border: solid 1px #2a2f31;
    font-family: 'Lato', sans-serif;
    }
    
    #submit:hover {
    background: #022b27;
    color: white;
    }

